<!doctype html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<head>
</head>
<nav class="fixed-nav-bar">
  <div id="menu" class="menu">
    <a id="username" class="sitename">Fixed Nav Bar</a>
    <!-- Example responsive navigation menu  -->
    <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
    
  </div>
</nav>

<section class="content">
  <div class="description">
    <h1>Quota</h1>
    <div id="bar-2" class="bar-main-container emerald">
    <div class="wrap">
      <div id="budget-bar" class="bar-percentage" data-percentage="62"></div>
      <div class="bar-container">
        <div class="bar"></div>
      </div>
    </div>
  </div>

   <a class="button" id="setButton">Set Budget</a>
  <div id="budgetModal" class="modal">
    <div class="modal-content">
      <span class="close">X</span>
      <p>Please set the budget.</p>
      <a id="set-budget" class="button">Submit</a>
    </div>    
  </div>

    <a class="button">Clear Budget</a>
  </div>



<script>
function print(){
    console.log(balance);
    console.log(id);
    console.log(type);
    console.log(nickname);
    console.log(rewards);
    console.log(account_num);
    console.log(cust_id);
    console.log(percent);
}

</script>


<script>
    var balance, id, type, nickname, rewards, account_num, cust_id, percent;
    var budget = 20000;
    $.ajax({
            type: 'GET',
            dataType: 'json',
            url: 'http://api.reimaginebanking.com/accounts?type=Credit%20Card&key=7c26b8201d6a14e230c59a421568e717',
            
            success: function(data){ 
                balance = data[0].balance;
                id = data[0]._id;
                type = data[0].type;
                nickname = data[0].nickname;
                rewards = data[0].rewards;
                account_num = data[0].account_number;
                cust_id = data[0].customer_id;
                document.getElementById("username").innerHTML = nickname;
                percent = (balance)/(budget) * 100;
                document.getElementById("budget-bar").setAttribute("data-percentage", percent);

            }
        });


    var modal = document.getElementById('budgetModal');
    var btn = document.getElementById('setButton'); 
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function(){
      modal.style.display="block";
    }
    span.onclick = function(){
      modal.style.display = "none";
    }
    window.onclick=function(event){
      if(event.target == modal)
        modal.style.display = "none;"

    }

        $('.bar-percentage[data-percentage]').each(function () {
      var progress = $(this);
      var percentage = Math.ceil($(this).attr('data-percentage'));
      $({countNum: 0}).animate({countNum: percentage}, {
        duration: 750,
        easing:'linear',
        step: function() {
          // What todo on every count
        var pct = '';
        if(percentage == 0){
          pct = Math.floor(this.countNum) + '%';
        }else{
          pct = Math.floor(this.countNum+1) + '%';
        }
        progress.text(pct) && progress.siblings().children().css('width',pct);
        }
      });
    });
    </script>
  </div>
</section>


</html>