<!doctype html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<head>
</head>
<nav class="fixed-nav-bar">
  <div id="menu" class="menu">
    <a id="username" class="sitename">Fixed Nav Bar</a>
    <!-- Example responsive navigation menu  -->
    <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
    <ul class="menu-items">
      <li><a href="//sixrevisions.com">Home</a></li>
      <li><a href="//sixrevisions.com/about/">About</a></li>
      <li><a href="//sixrevisions.com/contact/">Contact</a></li>
      <li><a href="//twitter.com/sixrevisions">Twitter</a></li>
      <li><a href="//www.facebook.com/sixrevisions">Facebook</a></li>
  </ul>
  </div>
</nav>

<section class="content">
  <div class="description">
    <h1>Fixed Navigation Bar</h1>
    <p class="summary">A fixed-position (or "sticky") top navigation bar. Scroll this page to see the top navigation bar stay in place.</p>
    <a class="button" href="//sixrevisions.com/css/fixed-navigation-bar/">Set Budget</a>
    <a class="button" href="//github.com/sixrevisions/fixed-navigation-bar">Clear Budget</a>
  </div>
  <div class="">
    <input type="submit" onclick="print()" value="Submit">
<script>
function print(){
    console.log(balance);
    console.log(id);
    console.log(type);
    console.log(nickname);
    console.log(rewards);
    console.log(account_num);
    console.log(cust_id);
}
</script>
<button type="button" id="testButton" onclick="testFunction()">Click me niqqa</button>

<script>
    var balance, id, type, nickname, rewards, account_num, cust_id;
    $.ajax({
            type: 'GET',
            dataType: 'json',
            url: 'http://api.reimaginebanking.com/accounts?type=Credit%20Card&key=7c26b8201d6a14e230c59a421568e717',
            
            success: function(data){ 
                balance = data[0].balance;
                id = data[0]._id;
                type = data[0].type;
                nickname = data[0].nickname;
                rewards = data[0].rewards;
                account_num = data[0].account_number;
                cust_id = data[0].customer_id;
                document.getElementById("username").innerHTML = nickname;

            }
        });
    //console.log(balance);
</script>
  </div>
</section>

<button type="button" id="testButton">Click me niqqa</button>


</html>