<h1>Helloooo niqqa!</h1>
<p1><button type="button" id="testButton" onclick="testFunction()">Click me niqqa</button></p1>

<script>
function testFunction(){
		$.ajax({
			type: 'GET',
		    dataType: 'json',
		    url: 'http://api.reimaginebanking.com/accounts?type=Credit%20Card&key=7c26b8201d6a14e230c59a421568e717',
		    
		    success: function(data){
		        //alert("NIQQA WE MADE IT???");
		        //results = jQuery.parseJSON(results.balance);
		        //var json = $.parseJSON(results[0]);
		        alert(data[0].balance);
		        console.log(data);

		    }
		});
	}
//$(document).ready(function() {
	
//});
</script>