<!doctype html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<head>
</head>
<nav class="fixed-nav-bar">
  <div id="menu" class="menu">
    <a id="username" class="sitename">Fixed Nav Bar</a>
    <!-- Example responsive navigation menu  -->
   
    
  </div>
</nav>

<section class="content">
  <div class="description">
    <h1>Quota</h1>
    <div id="bar-2" class="bar-main-container emerald">
    <div class="wrap">
      <div id="budget-bar" class="bar-percentage" data-percentage="62"></div>
      <div class="bar-container">
        <div class="bar"></div>
      </div>
    </div>
  </div>

   <a class="button" id="setButton">Set Budget</a>
  <div id="budgetModal" class="modal">
    <div class="modal-content">
      <span class="close">X</span>
        <p>Please set the budget and the time period.</p>
      <div id="budgetValue">
        <!--p>Please set the budget.</p-->
        <div class="dropdown">
          <p>$
          <input type="text" placeholder="Amount" id="setAmount"></input>
           <select id="timePeriod">
            <option value="1 Day">1 Day</option>
            <option value="2 Weeks">2 Weeks</option>
            <option value="1 Month">1 Month</option>
            </select> 
          </p>
        </div>
      </div>

  <div id="SubmitForm"> 
          <a id="set-budget" class="button" onclick="getSubmission()">Submit</a>
  </div>

        

    </div>    
  </div>

    <a class="button">Clear Budget</a>
  </div>



<script>
function print(){
    console.log(balance);
    console.log(id);
    console.log(type);

    console.log(nickname);
    console.log(rewards);
    console.log(account_num);
    console.log(cust_id);
    console.log(percent);
}

</script>


<script>
    var balance, id, type, nickname, rewards, account_num, cust_id, percent, submittedAmount, submittedTimePeriod;
    var budget = 20000;
    $.ajax({
            type: 'GET',
            dataType: 'json',
            url: 'http://api.reimaginebanking.com/accounts?type=Credit%20Card&key=7c26b8201d6a14e230c59a421568e717',
            
            success: function(data){ 
                balance = data[0].balance;
                id = data[0]._id;
                type = data[0].type;
                nickname = data[0].nickname;
                rewards = data[0].rewards;
                account_num = data[0].account_number;
                cust_id = data[0].customer_id;
                document.getElementById("username").innerHTML = nickname;
                percent = (balance)/(budget) * 100;
                document.getElementById("budget-bar").setAttribute("data-percentage", percent);

            }
        });

    var modal = document.getElementById('budgetModal');
    var btn = document.getElementById('setButton'); 
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function(){
      modal.style.display="block";
    }
    span.onclick = function(){
      modal.style.display = "none";
    }
    window.onclick=function(event){
      if(event.target == modal)
        modal.style.display = "none;"
    }


        $('.bar-percentage[data-percentage]').each(function () {
      var progress = $(this);
      var percentage = Math.ceil($(this).attr('data-percentage'));
      $({countNum: 0}).animate({countNum: percentage}, {
        duration: 750,
        easing:'linear',
        step: function() {
          // What todo on every count
        var pct = '';
        if(percentage == 0){
          pct = Math.floor(this.countNum) + '%';
        }else{
          pct = Math.floor(this.countNum+1) + '%';
        }
        progress.text(pct) && progress.siblings().children().css('width',pct);
        }
      });
    });

        function getSubmission(){
          //MIGHT HAVE TO CHANGE ME LATER
          var e = document.getElementById("setAmount");
          submittedAmount = e.value;
          //alert(submittedAmount);

          var f = document.getElementById("timePeriod");
          submittedTimePeriod = f.options[f.selectedIndex].value;

          //alert("Your budget is set at $" + submittedAmount + " over the course of " + submittedTimePeriod + ".");
        }
        var submitBtn = document.getElementById('set-budget');
        submitBtn.onclick = function(){
          modal.style.display="none";
          getSubmission();
          alert("NIQQA: " + submittedAmount);
        }

    </script>
  </div>
</section>

<script>
$.ajax({
            type: 'GET',
            dataType: 'json',
            url: 'http://api.reimaginebanking.com/accounts/56c66be7a73e492741508170/purchases?key=7c26b8201d6a14e230c59a421568e717',
            success: function(data1){ 
                for(var i=0;i<data1.length;i++){
                    var obj = data1[i];

                    var merchantLink = "http://api.reimaginebanking.com/merchants/" + obj.merchant_id + "?key=7c26b8201d6a14e230c59a421568e717"
                    $.ajax({
                                type: 'GET',
                                dataType: 'json',
                                url: merchantLink,
                                success: function(data2){ 
                                    var merchantName, merchantType;
                                    var tableRef = document.getElementById('keywords').getElementsByTagName('tbody')[0];

                                    // Insert a row in the table at the last row
                                    var newRow   = tableRef.insertRow(tableRef.rows.length);
                                    merchantName = data2.name;
                                    merchantType = data2.category;
                                    // Insert a cell in the row at index 0
                                    var newCell  = newRow.insertCell(0);
                                    var newText  = document.createTextNode(data1[tableRef.rows.length-1].description  );
                                    newCell.appendChild(newText);
                                    var newCell  = newRow.insertCell(1);
                                    var newText  = document.createTextNode(merchantName);
                                    newCell.appendChild(newText);
                                    var newCell  = newRow.insertCell(2);
                                    var newText  = document.createTextNode(merchantType);
                                    newCell.appendChild(newText);
                                    var newCell  = newRow.insertCell(3);
                                    var newText  = document.createTextNode(data1[tableRef.rows.length-1].purchase_date);
                                    newCell.appendChild(newText);
                                    var newCell  = newRow.insertCell(4);
                                    var newText  = document.createTextNode(data1[tableRef.rows.length-1].amount);
                                    newCell.appendChild(newText);
                                    }
                                
                            });

                }
            }
        });
</script>

<section class="some-related-articles">
  <div id="wrapper">
  <h1>Purchases</h1>
  
  <table id="keywords" class="tablesorter" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>Purchase</span></th>
        <th><span>Merchant</span></th>
        <th><span>Type</span></th>
        <th><span>Date</span></th>
        <th><span>Amount</span></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
 </div> 
</section>

</html>