<h1>Helloooo niqqa!</h1>
<input type="submit" value="Submit">

<button type="button" id="testButton" onclick="testFunction()">Click me niqqa</button>

<script>
function testFunction(){
		$.ajax({
			type: 'GET',
		    dataType: 'json',
		    url: 'http://api.reimaginebanking.com/accounts?type=Credit%20Card&key=7c26b8201d6a14e230c59a421568e717',
		    
		    success: function(data){  
		        alert(data[0].balance);
		        console.log(data);

		    }
		});
	}
//$(document).ready(function() {
	
//});
</script>